.TopPopup {
     z-index: 10;
     position: fixed;
     top: 15px;
     left: 50%;
     transform: translate(-50%, 0);

     border-radius: 15px;
     border: 2px solid var(--black-00);

     padding: 20px;

     max-width: 500px;
     max-height: 120px;
     width: 100%;
     height: 100%;

     display: flex;
     align-items: center;
     justify-content: flex-start;

     animation-name: error;
     animation-timing-function: linear;
}

.TopPopup_warning {
     background-color: var(--toppopup-warning-background-color);
}
.TopPopup_succes {
     background-color: var(--toppopup-succeful-background-color);
}
.TopPopup_info {
     background-color: var(--toppopup-info-background-color);
}
.TopPopup_error {
     background-color: var(--toppopup-danger-background-color);
}
@keyframes error {
     0% {
          top: -135px;
     }
     10% {
          top: 15px;
     }
     90% {
          top: 15px;
     }
     100% {
          top: -135px;
     }
}

@media screen and (max-width: 1023px) {
     @keyframes error {
          0% {
               top: -135px;
          }
          10% {
               top: 80px;
          }
          90% {
               top: 80px;
          }
          100% {
               top: -135px;
          }
     }
}
@media screen and (max-width: 500px) {
     .TopPopup {
          max-width: 300px;
     }
}
.image {
     margin-right: 15px;
     width: 50px;
}
@media screen and (max-width: 500px) {
     .image {
          width: 24px;
     }
}
.text {
     font-size: 1.25rem;
     color: var(--white-100);
}
@media screen and (max-width: 500px) {
     .text {
          font-size: 1rem;
     }
}
