.ProductCard {
     border-bottom: 1px solid var(--app-accient-color);

     padding: 16px 0;

     background: var(--white-100);

     display: flex;
     align-items: center;
}

@media screen and (max-width: 1024px) {
     .ProductCard {
          border: 1px solid var(--app-accient-color);
          border-radius: 12px;

          display: grid;
          grid-template-columns: 50% 50%;
          row-gap: 12px;
     }
}

.property {
     padding: 0 24px;

     max-width: 206px;
     width: 100%;

     display: flex;
     align-items: center;
     justify-content: center;

     gap: 5px;
}

@media screen and (max-width: 1024px) {
     .property {
          max-width: 180px;

          flex-direction: column;
          align-items: flex-start;
     }
}

.title {
     display: none;
}

@media screen and (max-width: 1024px) {
     .title {
          display: block;
     }
}

.text {
     overflow: hidden;

     display: -webkit-box;
     -webkit-line-clamp: 4;
     -webkit-box-orient: vertical;

     text-overflow: ellipsis;

     max-height: 60px;
     max-width: 100%;

     font-size: 0.8rem;
     word-break: break-word;
}

.button {
     padding: 12px 24px;

     font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
     .title,
     .text,
     .button {
          font-size: 0.8rem;
     }
}
