.Header {
     margin-bottom: 100px;

     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 124px;
}

@media screen and (max-width: 425px) {
     .Header {
          margin-bottom: 64px;

          gap: 64px;
     }
}

.info {
     border-radius: 0 0 36px 36px;

     padding: 24px;

     width: 100%;

     background-color: var(--app-accient-color);

     display: flex;
     align-items: baseline;
     justify-content: center;
     gap: 14px;
}

@media screen and (max-width: 1024px) {
     .info {
          gap: 12px;
     }
}

@media screen and (max-width: 768px) {
     .info {
          flex-wrap: wrap;
          gap: 18px;
     }
}

.infoLine {
     display: flex;
     align-items: baseline;
     gap: 4px;

     line-height: 1;
}

.infoTitle,
.infoText {
     color: var(--white-100);
     font-weight: 500;
}

.infoTitle {
     font-size: 0.7rem;
}

.infoText {
     font-size: 1rem;
}
@media screen and (max-width: 1024px) {
     .infoTitle {
          font-size: 0.6rem;
     }
     .infoText {
          font-size: 0.75rem;
     }
}

.button {
     border: 2px solid var(--white-100);

     font-size: 0.75rem;
}

.logo {
     max-width: 100%;
}

.heading {
     position: absolute;
     visibility: hidden;
}
