.WorkingScheme {
     padding: 24px 12px;

     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 48px;
}

@media screen and (max-width: 768px) {
     .WorkingScheme {
          gap: 64px;
     }
}

.heading {
     text-align: center;
     font-weight: 600;
     font-size: 2.105rem;
}

.steps {
     display: flex;
     justify-content: center;
     align-items: flex-start;
     gap: 64px;
}

@media screen and (max-width: 768px) {
     .steps {
          flex-direction: column;
     }
}

.step {
     padding: 24px;

     border: 2px solid #0081ff;
     border-radius: 36px;

     max-width: 430px;
     width: 100%;
     height: 220px;

     background: var(--white-100);

     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 24px;
}

.number {
     position: absolute;
     transform: translate(0, -175%);

     padding: 12px;

     border-radius: 100px;

     width: 64px;
     height: 64px;

     background: var(--app-accient-color);

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     font-size: 2rem;
     color: var(--white-100);
}

.title {
     font-size: 1.5rem;
     font-weight: 500;
     text-align: center;
}

.description {
     font-size: 1rem;
     text-align: center;
}

.button {
     padding: 12px 24px;

     font-size: 1.25rem;
}
