.Button {
     transition: 0.2s;

     border-radius: 36px;

     padding: 8px;

     background-color: var(--app-accient-color);

     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;

     font-size: 1.25rem;
     color: var(--white-100);
}

@media screen and (max-width: 1024px) {
     .Button {
          font-size: 1rem;
     }
}

Button:disabled {
     cursor: progress;

     filter: grayscale(0.5);
}

button:hover {
     transform: scale(1.05);
}

button:active {
     transform: scale(0.8);
}
