.Input {
     overflow: hidden;
     border: 2px solid var(--app-accient-color);
     border-radius: 100px;

     padding: 10px;
     padding-left: 32px;

     width: 100%;

     background-color: var(--white-100);

     font-size: 1rem;
     color: var(--black-20);
}

@media screen and (max-width: 1024px) {
     .Input {
          font-size: 1rem;
     }
}

.Input_withButton {
     border: none;
     border-radius: unset;

     padding: 20px 0;
     padding-left: 32px;
}

.InputContainer {
     overflow: hidden;
     border: 2px solid var(--app-accient-color);
     border-radius: 100px;

     width: 100%;

     padding-right: 10px;

     background-color: var(--white-100);

     display: flex;
     align-items: center;
     gap: 8px;
}

.InputContainer_Label {
     width: 100%;

     display: flex;
     flex-direction: column;
     gap: 8px;
}

@media screen and (max-width: 1024px) {
     .InputContainer {
          padding: 4px;
     }
}
