.ImageTextSection {
     padding: 12px;

     display: flex;
     align-items: flex-start;
}

@media screen and (max-width: 768px) {
     .ImageTextSection {
          flex-direction: column;
          align-items: center;
     }
}

.image {
     max-width: 240px;
     width: 100%;
}
