:root {
     --black-00: black;
     --black-10: #0b0b0b;
     --black-20: #1f2025;
     --white-100: white;
     --white-90: #909090;
     --white-100-trans: #ffffff7c;
     --blue-100: #0081ff;
     --blue-90: #0081ff14;
     --green-90: #52ca84;
     --red-90: #e44d4d;
     --orange-90: #e7a937;
}
