.Search {
     padding: 10px;

     width: 100%;

     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 10px;
}

@media screen and (max-width: 1024px) {
     .input {
          font-size: 0.8rem;
     }
}

.searchResults {
     overflow: auto;

     border: 2px solid var(--app-accient-color);
     border-radius: 36px;

     background: var(--white-100);

     width: 100%;
     max-height: 450px;

     display: flex;
     flex-direction: column;
}

.searchResults::-webkit-scrollbar {
     border: 1px solid var(--app-accient-color);
     border-radius: 36px;

     background-color: var(--white-100);
}
.searchResults::-webkit-scrollbar-thumb {
     border-radius: 36px;

     background-color: var(--app-accient-color);
}

.searchTitle {
     border-bottom: 1px solid var(--app-accient-color);

     padding: 16px 0;

     background: var(--blue-90);

     display: flex;
     align-items: center;
}

.searchTitleProperty {
     padding: 0 24px;

     width: 100%;

     display: flex;
     align-items: center;
     justify-content: center;
}

@media screen and (max-width: 768px) {
     .searchTitleProperty {
          padding: 0 5px;
     }
}

@media screen and (max-width: 425px) {
     .searchTitleProperty {
          padding: 0 2px;
     }
}

@media screen and (max-width: 768px) {
     .searchTitlePropertyText {
          font-size: 0.6rem;
     }
}

/* RESULTS */
.searchResult {
     border-bottom: 1px solid var(--app-accient-color);

     padding: 16px 0;

     background: var(--white-100);

     display: flex;
     align-items: center;
}

.searchResultProperty {
     padding: 0 24px;

     max-width: 206px;
     width: 100%;

     display: flex;
     align-items: center;
     justify-content: center;

     gap: 5px;
}

@media screen and (max-width: 768px) {
     .searchResultProperty {
          padding: 0 5px;
     }
}

@media screen and (max-width: 425px) {
     .searchResultProperty {
          padding: 0 2px;

          flex-direction: column;
     }
}
.searchResultText {
     overflow: hidden;

     display: -webkit-box;
     -webkit-line-clamp: 4;
     -webkit-box-orient: vertical;

     text-overflow: ellipsis;

     max-height: 60px;

     font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
     .searchResultText {
          font-size: 0.6rem;
     }
}

.SearchResultButton {
     padding: 12px 24px;

     font-size: 0.8rem;
}
.SearchResultButton_Admin {
     padding: 8px 18px;
}

@media screen and (max-width: 768px) {
     .SearchResultButton {
          font-size: 0.6rem;
     }
}
